<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h1>Bienvenido!</h1>
  </ion-text>
  <form>
    <ion-item lines="full">
      <ion-label position="floation">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floation">Password</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Iniciar Sesion</ion-button>
        <ion-button type="submit" expand="block">Registrarse</ion-button>
        <a [routerLink]="['/OlvidoContrasenia']" class="small-text">Has olvidado la contraseña?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
